@charset "utf-8";

html{
    background-color: rgb(251, 227,183);
}
body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
head img{
    size: 
}