@charset "utf-8";

html{
    background-color: #215e21 
}
body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    box-shadow: rgb(31, 31, 31) 8px 15px 25px, rgb(31, 31, 31) -8px -15px 25px;
    background-color: rgb(251, 227,183);
}

p{
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
}
h1#title{
    font-size: 45px;
}
h2{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;

}
.row{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    
}
div.col-1-2{
    height: 200px
}
img{
    display: block;
}
body h1#title{
    position: absolute;
    top: 23px;
    left: 36%;
    font-size: 30px;
}
a{
    text-decoration: none;
}
section{
    text-align: center;
    background-color: black;
}
#submition{
    padding-left: 30px
}
section#submition{
    height: 80px;
    padding-top: 20px; 
    place-content: center;
    background-color: black;
}
img#sitemap{
    display: inline-block;
}
 
 footer{
    margin-top: 25px;
    text-align: center;
    background-color: rgb(52, 151, 143);
    height: 35px;
    padding-top: 7px;
    padding-bottom: 5px;
    align-content: bottom; 
    font-weight: bold;
 }
a{
    color: #215e21 ;
    font-weight: bold;
}
img#Foods{
    margin-left: 40px;
    border-width: 6px;
    border-color: rgb(52, 151, 143);
    border-style: double;
    border-radius: 25px;
    box-shadow: rgb(52, 151, 143) 0px 0px 15px;
}
img#sitemap{
    border-width: 6px;
    border-color: rgb(52, 151, 143);
    border-style: double;
    border-radius: 25px;
    box-shadow: rgb(52, 151, 143) 0px 0px 15px;
}