@charset "utf-8";

body{
    margin-left: 80px;
    margin-right:50px;
}
h1{
    font-size: 30px;
}
body h1#title{
    position: absolute;
    top: 23px;
    left: 36%;
    font-size: 30px;
}
img{
    display: block;
}
figcaption{
    text-align: center;
    font-size: 50px;
}
figure img{
    border-width: 6px;
    border-color: rgb(52, 151, 143);
    border-style: double;
    border-radius: 25px;
    box-shadow: rgb(52, 151, 143) 0px 0px 15px;

}